:root {
  --primary: #d81e5b;
  --secondry: #8c3aff;
  --dark: #131a26;
  --light: #eee;
  --grey: #484848;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

#Light {
  background-color: var(--light);
}

#Dark {
  background-color: var(--dark);
}

.theme{
  position: absolute;
  display: flex;
  top: 10vh;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#Light .theme {
  color: var(--light);
  background-color: var(--dark);
}

#Dark .theme {
  color: var(--dark);
  background-color: var(--light);
}
.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(253, 253, 253, 0.5);
}

#Light .calculator {
  background-color: var(--light);
}

#Dark .calculator {
  background-color: var(--dark);
}

.display {
  padding: 16px;
  text-align: right;
  color: var(--dark);
  font-size: 24px;
  font-weight: 300;
}

#Light .display {
  background-color: var(--dark);
  color: var(--light);
}

#Dark .display {
  background-color: var(--light);
  color: var(--dark);
}

.display span {
  font-size: 14px;
}

#Light .display span {
  color: var(--light);
}

#Dark .display span {
  color: var(--grey);
}

button {
  appearance: none;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
}

#Light button {
  color: var(--light);
}

#Dark button {
  color: var(--dark);
}

.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

.operators button:hover {
  opacity: 0.9;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.33%;
}

#Light .digits button {
  background-color: var(--dark);
}

#Dark .digits button {
  background-color: var(--light);
}

.digits button:hover {
  background-color: var(--primary);
}